<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862326056116-gu2q6eg3odbfgf1flu7tvtu33nrpuldt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862326056116-gu2q6eg3odbfgf1flu7tvtu33nrpuldt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862326056116-5t11ek4p19b64sqnoijtl8culs5376v2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHSts5jAvibqjI8jAlqKooq9phOjfEWW0</string>
	<key>GCM_SENDER_ID</key>
	<string>862326056116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phim3s.net</string>
	<key>PROJECT_ID</key>
	<string>allapp-f403e</string>
	<key>STORAGE_BUCKET</key>
	<string>allapp-f403e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862326056116:ios:9f62915616fa5a85c063e1</string>
</dict>
</plist>
