<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215589107688-bcn6h0es0jot0hj4jg8har3a1njh689m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215589107688-bcn6h0es0jot0hj4jg8har3a1njh689m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215589107688-j1tg5requ5n2td5d3s513q915ausagq7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIkj7vLosQPdixix8TtD9z-kN4qslkjmw</string>
	<key>GCM_SENDER_ID</key>
	<string>215589107688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapprn</string>
	<key>PROJECT_ID</key>
	<string>myreactnative-1919e</string>
	<key>STORAGE_BUCKET</key>
	<string>myreactnative-1919e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215589107688:ios:251accaf4d548f4203165d</string>
</dict>
</plist>
